* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-texto {
    width: 600px;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.menu {
    display: flex;
    justify-content: center;
}

button {
    background-color: #017143;
    color: #ffffff;
    border: none;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

h2 {
    font-size: 80px; 
    font-weight: 600;
}

span {
    color: #05472c;
    font-size: 70px;
    font-weight: 900;
    background: linear-gradient(100deg, #100eb4, #159655);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo:hover {
    transform: translatey(35px);
    transition: 1s;
    cursor: pointer;
}

.starbucks {
    width: 340px;
    z-index: 2;
}

.copo-pequeno {
    width: 60px;
}

.copo-pequeno {
    width: 60px;
    cursor: pointer;
    transition: 1s;
}
.copo-pequeno:hover {
    transform: translatey(-35px);
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
}